@font-face{
  font-family:Birch;
  src: url(/fonts/BirchStd.otf);
}

body {
	background: #BDE2DC;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.6em;
	color: #999;
	margin: 20px;
}

header {
	width: 100%;
	margin: 20px;
}

header img {
	width: 12%;
	float: right;
	padding-right: 20px;
}

nav {
	font-size: 1em;
	padding: 10px;
}

nav a {
	text-decoration: none;
	color: white;
	padding-right: 25px;
}
nav a:hover {
	color: #999;
}

li {
	list-style: none;
	display: inline-block;
}

button {
	width: 25%;
	background: #5CBAB0;
	border: 0;
	font-family: 'Birch';
	font-size: 1em;
	padding: 10px;
	color: white;
	cursor: pointer;
	outline: none;
}
button:hover {
	background: #99BF1C;
}

.button-green button {
	width: 25%;
	background: #99BF1C;
	border: 0;
	font-family: 'Birch';
	font-size: .8em;
	padding: 10px;
	color: white;
}

input {
	color: #696864;
	padding: 8px;
	min-width: 200px;
	font-size: .6em;
	border: 0;
	text-align: center;
	margin-bottom: 25px;
}

input:focus {
	outline: none;
	background: whitesmoke;
}

h1 {
	font-family: 'Birch';
	font-size: 3em;
}

h2 {
	font-family: 'Great Vibes', cursive;
	color: #5CBAB0;
	font-size: 3em;
	line-height: .1;
}

h3 {
	font-size: 1.2em;
	font-weight: bolder;
}

.auth {
	margin: 0 auto;
	text-align: center;
	font-family: 'Birch';
	font-size: 2em;
	color: white;
	clear: both;
}

.auth a {
	color: white;
}

.auth a:hover {
	color: #999;
}

.upload {
	font-size: 1.5em;
}

.center {
	text-align: center;
}

.sub {
	font-size: .8em;
}

.form {
	margin: 0 auto;
	width: 600px;
	text-align: right;
	font-family: 'Birch';
	font-size: 2em;
	color: white;
}

/*.galleries {
	background: #696864;
	padding: 5px 15px;
	margin-bottom: 20px;
}*/

/* Glyph, by Harry Roberts */
hr.style-eight {
	padding: 0;
	border: none;
	border-top: medium double #5CBAB0;
	color: #5CBAB0;
	text-align: center; 
}

hr.style-eight:after {
	content: "§";
	display: inline-block;
	position: relative;
	top: -0.7em;
	font-size: 1.5em;
	padding: 0 0.25em;
}
/* Glyph, by Harry Roberts */

.gallery-main {
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
    font-size: .7em;
}

.gallery {
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
    font-size: .7em;
}

.item {
    display: inline-block;
    background: #fff;
    padding: .5em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

label {
	display: inline;
	color: #666;
}

label {
	display: inline;
	color: #666;
}

.itemButton {
	background: #5CBAB0;
	border: 0;
	font-family: 'Birch';
	padding: 10px;
	color: white;
	cursor: pointer;
	outline: none;
	width: 49%;
	font-size: 2em;
}

.itemButton:hover {
	background: #99BF1C;
}

.item img {
	width: 100%;
}

.caption {
	text-align: center;
}

@media only screen and (min-width: 400px) {
    .gallery {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 700px) {
    .gallery {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 900px) {
    .gallery {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 1100px) {
    .gallery {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 400px) {
    .gallery {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 700px) {
    .gallery {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 900px) {
    .gallery {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 1100px) {
    .gallery {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 400px) {
    .gallery-main {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 700px) {
    .gallery-main {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 1100px) {
    .gallery-main {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
    

    

