@font-face{
  font-family:Birch;
  src: url(/fonts/BirchStd.otf);
}

@font-face{
  font-family:Alien;
  src: url(/fonts/ALIEN5.TTF);
}

body {
	background: #BDE2DC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.6em;
	color: #999;
	margin: 20px;
}

header {
	width: 100%;
}

header img {
	width: 10%;
	margin: 20px;
}

nav {
	float: right;
	font-size: .8em;
	bottom: 0;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
}

li {
	list-style: none;
	display: inline-block;
}

nav a {
	text-decoration: none;
	color: white;
	padding-right: 20px;
}
nav a:hover {
	color: #999;
}

button {
	width: 25%;
	background: #5CBAB0;
	border: 0;
	font-family: 'Birch';
	font-size: 1em;
	padding: 10px;
	color: white;
	cursor: pointer;
	outline: none;
}
button:hover {
	background: #99BF1C;
}

.button-green button {
	width: 25%;
	background: #99BF1C;
	border: 0;
	font-family: 'Allan', cursive;
	font-size: .8em;
	padding: 10px;
	color: white;
}

input {
	color: #696864;
	padding: 8px;
	min-width: 200px;
	font-size: .6em;
	border: 0;
	text-align: center;
	margin-bottom: 25px;
}

input:focus {
	outline: none;
	background: whitesmoke;
}

h1 {
	font-family: 'Allan', cursive;
	font-size: 2em;
}

h2 {
	font-family: 'Allan', cursive;
	font-size: 1.5em;
}

h3 {
	font-size: 1.2em;
	font-weight: bolder;
}

.auth {
	margin: 0 auto;
	text-align: center;
	font-family: 'Birch';
	font-size: 2em;
	color: white;
}

.auth a {
	color: white;
}

.auth a:hover {
	color: #999;
}

.sub {
	font-size: .8em;
}

.gallery {
	background: #333;
	text-align: center;
	padding: 1px 10px 15px 10px;
	border-bottom: solid 20px #BDE2DC;
}

.gallery img {
	width: 100%;
}

.gallery-float {

    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

    

    

