<h1>About the Baileys</h1>
<h2>Dad</h2>
<p>About my Dad</p>
<p>Add a profile pic</p>

<h2>Mom</h2>
<p>About my Mom</p>
<p>Add a profile pic</p>

<h2>Wayne</h2>
<p>About my brother that I miss so much</p>
<p>Add a profile pic</p>

<h2>Linda</h2>
<p>About my big sister, Roo</p>
<p>Add a profile pic</p>

<h2>Susan</h2>
<p>About my sister, Susan</p>
<p>Add a profile pic</p>

<h2>Carol</h2>
<p>About my sister, not the baby, Carol</p>
<p>Add a profile pic</p>

<h2>Ellen</h2>
<p>About me, the baby... but not.</p>
<p>Add a profile pic</p>