<div class="about">

    <h1>About the Baileys</h1>

    <h2>Dad</h2>
    <img src="http://lndesigns.com/capstone/dad-airforce.jpg" alt="Bob Bailey">
    <p>Robert Jack Bailey was born in Kingsport, TN. We all call him Bob (well, we call him Dad). He also goes by Red River
        Bob down at Station Inn. He retired form the airforce in 1992. Then retired from the Post Office in 2002. He is an
        amazing guitar player and a great dad.</p>

    <h2>Mom</h2>
    <img ng-src="http://lndesigns.com/capstone/family-2009.jpg">
    <p>Mary E. Slemp was born in Big Stone Gap, VA. She is known by many as Mother Mary, due to her taking in of strays and
        general goodness of her heart. She worked at Eastmas Kodak (now TN Eastman Co) in Kingsport until she married Bob
        (Dad). She started having babies and didn't know how to stop (LOL). She is the best mom you could ever ask for.
    </p>

    <h2>Wayne</h2>
    <img src="http://lndesigns.com/capstone/wayne-1960-car.jpg" alt="Wayne Bailey">
    <p>Wayne Alan Bailey was born in OK when our parents were stationed there. He was known by his cycle friends as Wayne Chung.
        He was a master carpenter and restored vintage bicycles and loved to restore or build Honda motorcycles. He was also
        a great guitar and bass player. We lost him in 2015 but he is one of those people you could never forget. A true
        one-of-a-kind.
    </p>

    <h2>Linda</h2>
    <img src="http://lndesigns.com/capstone/LindaBoots.jpg" alt="Linda Hall">
    <p>Linda N. Bailey (Hall), aka Roo, was born in Bermuda while our parents were stationed there. She is married to Gene Hall.
        They have two daughters, Rachel and Jasmine. And, now have a grandaughter (by Rachel) name Daniella.</p>

    <h2>Susan</h2>
    <img ng-src="http://lndesigns.com/capstone/tampa-kids.jpg">
    <p>Susan, middle child. Forget Martha Stewart. She and her husband, Jim grow grapes for jam and juice, pecans for pies and
        just yum, sugar cane for cane syrup along with all kinds of veggies. She also designs and makes custom quilts by
        hands. She has quite a creative and beautiful portfolio. She has two daughters, Mari Ellen and Jessica. She is married
        to Jim Johns. Together they have a son, Will.</p>

    <h2>Carol</h2>
    <img ng-src="http://lndesigns.com/capstone/GirlsBackyYard1981.jpg">
    <p>Carol Jean Bailey was born in Belleville, IL. Contrary to popular belief, she's not the baby. She has two sons, Ethan
        and Ryan and is married to Perry Lockert. She has another son, Ryan (step) since marrying Perry in 2005. Carol is
        an artist (pottery, painting) and has a beautiful soprano voice. She was a star in our theatre community in high
        school as well as singing in the choir.</p>

    <h2>Ellen</h2>
    <img src="http://lndesigns.com/capstone/Ellen-monkey.jpg" alt="Ellen Bailey">
    <p>Ellen Bailey, me, the baby...but not. Born on Chanute Airforce Base in Rantoul, IL. Two amazing kids, David and Diane.
        I built this site for my family to have a central database for family photos. I work for the State of TN, Dept of
        Enviornment and Conservation as a Web Developer. I love restoring furniture, playing guitar, singing and hiking/running.
    </p>

</div>