<div>
	<!--<div>
		<button class="button-blue" ng-click="setLoginContainer()">Login</button>
		<button class="button-green" ng-click="setRegisterContainer()">Register</button>
	</div>-->
	<div class="auth">
		<!--<form ng-show="loginContainer">-->
			<div>
				<label>user name</label>
				<input type="email" placeholder="Email address" ng-model="login.email" required autofocus>
			</div>
			<div>
				<label>password</label>
				<input type="password" placeholder="Password" ng-model="login.password" required>
			</div>
			<div>
				<button ng-click="loginUser(login)">login</button>
			</div>

			<p class="sub">Can't log in? <a href="mailto:ellen@lndesigns.com">Email me!</a></p>
		<!--</form>
		<form ng-show="registerContainer">
			<div>
				<label>Email Address</label>
				<input type="email" placeholder="Email address" ng-model="register.email" required autofocus>
			</div>
			<div>
				<label>Password</label>
				<input type="password" placeholder="Password" ng-model="register.password" required>
			</div>
			<div>
				<label>Username</label>
				<input type="text" placeholder="Username" ng-model="register.username" required>
			</div>
			<div>
				<button class="button-green" ng-click="registerUser(register)">Submit Registration</button>
			</div>
		</form>-->
	</div>
</div>