<h1>Family Galleries</h1>

<hr>
<div class="galleries">
    <h2>FAMILY PHOTOS</h2>
    <hr>
    <div class="gallery">
        <div ng-repeat="photo in photos | filter:{title:'Family'}" class="item">
            <img src="{{photo.image}}" />
            <p class="caption">{{photo.caption}}</p>
        </div>
    </div>
</div>

<hr>
<div class="galleries">
    <h2>ELLEN</h2>
    <hr>
    <div class="gallery">
        <div ng-repeat="photo in photos | filter:{title:'Ellen'}" class="item">
            <img src="{{photo.image}}" />
            <p class="caption">{{photo.caption}}</p>
        </div>
    </div>
</div>

<hr>
<div class="galleries">
    <h2>CAROL</h2>
    <hr>
    <div class="gallery">
        <div ng-repeat="photo in photos | filter:{title:'Carol'}" class="item">
            <img src="{{photo.image}}" />
            <p class="caption">{{photo.caption}}</p>
        </div>
    </div>
</div>

<hr>
<div class="galleries">
    <h2>SUSAN</h2>
    <hr>
    <div class="gallery">
        <div ng-repeat="photo in photos | filter:{title:'Susan'}" class="item">
            <img src="{{photo.image}}" />
            <p class="caption">{{photo.caption}}</p>
        </div>
    </div>
</div>

<hr>
<div class="galleries">
    <h2>LINDA</h2>
    <hr>
    <div class="gallery">
        <div ng-repeat="photo in photos | filter:{title:'Linda'}" class="item">
            <img src="{{photo.image}}" />
            <p class="caption">{{photo.caption}}</p>
        </div>
    </div>
</div>

<hr>
<div class="galleries">
    <h2>WAYNE</h2>
    <hr>
    <div class="gallery">
        <div ng-repeat="photo in photos | filter:{title:'Wayne'}" class="item">
            <img src="{{photo.image}}" />
            <p class="caption">{{photo.caption}}</p>
        </div>
    </div>
</div>

<hr>
<div class="galleries">
    <h2>MOM</h2>
    <hr>
    <div class="gallery">
        <div ng-repeat="photo in photos | filter:{title:'Mom'}" class="item">
            <img src="{{photo.image}}" />
            <p class="caption">{{photo.caption}}</p>
        </div>
    </div>
</div>

<hr>
<div class="galleries">
    <h2>DAD</h2>
    <hr>
    <div class="gallery">
        <div ng-repeat="photo in photos | filter:{title:'Dad'}" class="item">
            <img src="{{photo.image}}" />
            <p class="caption">{{photo.caption}}</p>
        </div>
    </div>
</div>

<hr>