<h1>Family Galleries</h1>

<hr class="glyph">
<div class="galleries">
    <h2>Family</h2>
    <div class="gallery">
        <div ng-repeat="photo in photos | filter:{title:'Family'}" class="item">
            <img src="{{photo.image}}" />
            <p class="caption">{{photo.caption}}</p>
        </div>
    </div>
</div>

<hr class="glyph">
<div class="galleries">
    <h2>Ellen</h2>
    <div class="gallery">
        <div ng-repeat="photo in photos | filter:{title:'Ellen'}" class="item">
            <img src="{{photo.image}}" />
            <p class="caption">{{photo.caption}}</p>
        </div>
    </div>
</div>

<hr class="glyph">
<div class="galleries">
    <h2>Carol</h2>
    <div class="gallery">
        <div ng-repeat="photo in photos | filter:{title:'Carol'}" class="item">
            <img src="{{photo.image}}" />
            <p class="caption">{{photo.caption}}</p>
        </div>
    </div>
</div>

<hr class="glyph">
<div class="galleries">
    <h2>Susan</h2>
    <div class="gallery">
        <div ng-repeat="photo in photos | filter:{title:'Susan'}" class="item">
            <img src="{{photo.image}}" />
            <p class="caption">{{photo.caption}}</p>
        </div>
    </div>
</div>

<hr class="glyph">
<div class="galleries">
    <h2>Linda</h2>
    <div class="gallery">
        <div ng-repeat="photo in photos | filter:{title:'Linda'}" class="item">
            <img src="{{photo.image}}" />
            <p class="caption">{{photo.caption}}</p>
        </div>
    </div>
</div>

<hr class="glyph">
<div class="galleries">
    <h2>Wayne</h2>
    <div class="gallery">
        <div ng-repeat="photo in photos | filter:{title:'Wayne'}" class="item">
            <img src="{{photo.image}}" />
            <p class="caption">{{photo.caption}}</p>
        </div>
    </div>
</div>

<hr class="glyph">
<div class="galleries">
    <h2>Mom</h2>
    <div class="gallery">
        <div ng-repeat="photo in photos | filter:{title:'Mom'}" class="item">
            <img src="{{photo.image}}" />
            <p class="caption">{{photo.caption}}</p>
        </div>
    </div>
</div>

<hr class="glyph">
<div class="galleries">
    <h2>Dad</h2>
    <div class="gallery">
        <div ng-repeat="photo in photos | filter:{title:'Dad'}" class="item">
            <img src="{{photo.image}}" />
            <p class="caption">{{photo.caption}}</p>
        </div>
    </div>
</div>

<hr class="glyph">