<h1>Search Photos</h1>
<div class="form">
    <div>
        <label>title</label>
        <input type="text" placeholder="title" ng-model="photos.title">
    </div>
    <div>
        <label>name</label>
        <input type="text" placeholder="name" ng-model="photos.name">
    </div>
    <div>
        <label>location</label>
        <input type="text" placeholder="location" ng-model="photos.location">
    </div>
    <div>
        <label>event</label>
        <input type="text" placeholder="event" ng-model="photos.event">
    </div>
    <div>
        <label>keywords</label>
        <input type="text" placeholder="keywords" ng-model="photos.keywords">
    </div>
    <div>
        <label>date</label>
        <input type="text" placeholder="date" ng-model="photos.date">
    </div>
    <div>
        <label>caption</label>
        <input type="text" placeholder="caption" ng-model="photos.caption">
    </div>
</div>