<!--Testing single Photo-->
<!--<div>
  <div>{{myPhoto.title}}</div>
  <img ng-src="{{myPhoto.image}}">
</div>-->

<div class="auth">
<h1 class="upload">Upload Photo</h1>
  <label class="myFile">
  <img src="http://lndesigns.com/baileys/browse-button.png" alt="browse" />
  <input type="file" id="upload" fileread="selectedFile.image" required/>
  </label>
<br>
  <img ng-src="{{selectedFile.image}}" alt="Image preview..." />

</div>
<div class="auth">
  <div>
    <input type="text" placeholder="Title" id="imgTitle" ng-model="selectedFile.title">
  </div>
  <div>
    <input type="text" placeholder="Name" id="imgName" ng-model="selectedFile.name">
  </div>
  <div>
    <input type="text" placeholder="Location" id="imgLocation" ng-model="selectedFile.location">
  </div>
  <div>
    <input type="text" placeholder="Event" id="imgEvent" ng-model="selectedFile.event">
  </div>
  <div>
    <input type="text" placeholder="Keywords" id="imgKeywords" ng-model="selectedFile.keywords">
  </div>
  <div>
    <input type="text" placeholder="Date" id="imgDate" ng-model="selectedFile.date">
  </div>
  <div>
    <input type="text" placeholder="Caption" id="imgCaption" ng-model="selectedFile.caption">
  </div>
  <button ng-click="savePhoto()">SUBMIT</button>
</div>