<h1>Upload View</h1>

 <!--<div class="col-lg-6" id="uploadDiv">
        <h2>Your favorite doge:</h2> <div class="dropdown favoriteDoge">
          <button class="btn btn-primary dropdown-toggle" id="dogDrop" type="button" data-toggle="dropdown">Floof
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Lab</a></li>
            <li><a href="#">Terrier</a></li>
            <li><a href="#">Floof</a></li>
          </ul>
        </div>
        <h2>Upload Doge</h2>
          <label class="myLabel" id="inputLabel">
            <input type="file" id="upload" required/>
            <span>Select File</span>
          </label>
          <div class="input-group upload-group">
          <input type="text" placeholder="Image Title" id="imgTitle">
          </div>
          <div class="input-group upload-group">
          <input type="text" placeholder="Image Caption" id="imgDesc">
          </div>
          <button type="button" class="btn btn-primary upload-group" onclick="confirmUpload()">SUBMIT</button>
      </div>-->