<!DOCTYPE html>
<html>

<head>
	<title>Bailey Family Album</title>
	<link href="https://fonts.googleapis.com/css?family=Allan|Roboto+Condensed" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body ng-app="FamilyApp">

	<header><img src="http://lndesigns.com/capstone/logo-baileys-online.png"></header>

	<div ng-controller="GalleryCtrl">
		<h1>Photo Gallery</h1>
		<div class="gallery-float">
			<div ng-repeat="photo in photos" class="gallery">
				<h2>{{photo.title}}</h2>
					<img src="{{photo.url}}" />
					<p>{{photo.caption}}</p>
					<button ng-click="deletePhoto(photo.id)">DELETE</button>
			</div>
		</div>
	</div>


	<script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
	<script type="text/javascript" src="/lib/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/lib/bower_components/angular/angular.min.js"></script>
	<script src="/lib/bower_components/angular-route/angular-route.min.js"></script>
	<script src="/javascripts/app.js"></script>
	<script src="/javascripts/AppConstants.js"></script>
	<script src="/javascripts/AppConfig.js"></script>
	<script src="/javascripts/factories/PhotoFactory.js"></script>
	<script src="/javascripts/controllers/GalleryCtrl.js"></script>

</body>

</html>